name: Publish new library version

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build aar
        run: ./gradlew publishReleaseToDemoRepository

      - name: Upload repository
        uses: actions/upload-artifact@v6
        with:
          name: repo
          path: demorepo/org/amnezia/awg/awg-tunnel/**/*.*
