name: Build project

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build aar
        run: ./gradlew publishReleaseToDemoRepository

      - name: Upload repository
        uses: actions/upload-artifact@v4
        with:
          name: repo
          path: demorepo/org/amnezia/awg/awg-tunnel/**/*.*
